body {
    background-image: url(imagenes/imagen7.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face{
    font-family: 'blue eyes';
    src: url(fuentes/blue_eyes.otf)
}

@font-face {
    font-family: 'nugo';
    src: url(fuentes/nugo.ttf)
}

@font-face {
    font-family: 'supposition';
    src: url(fuentes/Supposition.ttf)
}

#inicio {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;


}

#contenido {
    font-family: 'Lobster', cursive;
    display: flex;
    list-style: none;
}

#registrate {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
}

.lista {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px;
    margin: 20px;
    background: #f3e8e800;
    display: flex;
    border-radius: 15px;
}

.texto {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    font-size: 150px;  
    font-family: 'blue eyes';
    animation-name: colores;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

p {
    font-family: 'oxigen';
    font-size: 20px;
    color: #000000;
    padding: 20px;
    margin: 20px;
}
.texto p {
    font-family: 'blue eyes';
    font-size: 150px;
    animation-name: colores;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

.slogan p {
    font-family: 'nugo';
    font-size: 60px;
    animation-name: animacion;
    animation-duration: 5s;
    
}

.slogan {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    font-size: 70px;
    font-family: 'Raleway';
    
}

.site-footer {padding-top: 20;
    padding-bottom: 20;
    border-top: 1px solid #f1ad5e;
    background-color: rgb(250, 192, 106);
    width: auto;
    
}

@keyframes colores{
    0%{color: rgb(253, 255, 153)}
    33%{color: rgb(185, 144, 90)}
    76%{color: rgb(255, 197, 88)}
    
}
@keyframes animacion{
    from{
        margin-left: 300%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
    
    
}

.lista:hover {
    color: rgba(248, 232, 0, 0.664);
    background-color: rgba(241, 117, 14, 0.808);
}