body {
    background-image: url(imagenes/imagen7.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face{
    font-family: 'blue_eyes';
    src: url(../una-vida-saludable/fuentes/blue_eyes.zip)
}

@font-face {
    font-family: '';
    src: url()
}

#inicio {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;


}

#contenido {
    font-family: 'Lobster', cursive;
    display: flex;
    list-style: none;
}

#registrate {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
}

.lista {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px;
    margin: 20px;
    background: #f3e8e800;
    display: flex;
    border-radius: 15px;
}

.texto {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    font-size: 150px;  
    font-family: 'blue_eyes';
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    color: #000000;
    padding: 20px;
    margin: 20px;
}

.slogan {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    font-size: 70px;
    font-family: 'Raleway';
}

.site-footer {padding-top: 20;
    padding-bottom: 20;
    border-top: 1px solid #f1ad5e;
    background-color: rgb(250, 192, 106);
    width: auto;
    
}

.lista:hover {
    color: rgba(248, 232, 0, 0.664);
    background-color: rgba(241, 117, 14, 0.808);
}