body {
    background-image: url(imagenes/imagen7.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lemonchiffon;
    height: 20vh;
    background-size: cover;
}



@font-face{
    font-family: 'blue eyes';
    src: url(fuentes/blue_eyes.otf)
}

@font-face {
    font-family: 'nugo';
    src: url(fuentes/nugo.ttf)
}

@font-face {
    font-family: 'supposition';
    src: url(fuentes/Supposition.ttf)
}
@font-face{
    font-family: 'nest';
    src: url(fuentes/Nest.ttf)
}

@font-face{
    font-family: 'grosella';
    src: url(fuentes/Grosella.ttf)
}

#inicio {
    
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;


}

#contenido {
    font-family: 'Lobster', cursive;
    display: flex;
    list-style: none;
}

#registrate {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
}


.lista {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 15px;
    margin: 20px;
    background: #f3e8e800;
    display: flex;
    border-radius: 15px;
}

.texto {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    font-size: 170px;  
    font-family: 'blue eyes';
    animation-name: colores;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

p {
    font-family: 'nest';
    font-size: 30px;
    color: #000000;
    padding: 10px;
    margin: 50px;
    margin-top: 0px;
}

b {
    font-family: 'supposition';
    font-size: 70px;
    color: #000000;
    padding: 20px;
    margin: 20px;
    margin-top: 500px;
}
.texto p {
    font-family: 'blue eyes';
    font-size: 160px;
    margin-top: 150px;
    animation-name: colores;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

.slogan p {
    font-family: 'nugo';
    font-size: 70px;
    margin-right: 60px ;
    margin-top: 20px;
    animation-name: animacion;
    animation-duration: 5s;
    
}

.slogan {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-right: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
    font-size: 70px;
    font-family: 'Raleway';
    
}

.canales b{font-family: 'nugo';
    font-size: 35px;
    margin-top: 20px;

}
#video-conteiner {}
#video-conteiner iframe{}

.site-footer {padding-top: 20;
    padding-bottom: 20;
    border-top: 1px solid #f1ad5e;
    background-color: rgb(250, 192, 106);
    width: auto;
    
}
.quien b{font-family: 'supposition';
    font-size: 80px;
    color: #000000;
    padding: 50px;
    margin-left: 550px;
    }

.somos {font-family: 'oxigen';
    font-size: 50px;
    color: #000000;
    padding: 0px;
    margin-left: 550px;
    }

.ideas p{font-family: 'supposition';
    font-size: 50px;
    color: #000000;
    padding: 50px;
    margin-left: 550px;
    }

@keyframes colores{
    0%{color: rgb(253, 255, 153)}
    33%{color: rgb(185, 144, 90)}
    76%{color: rgb(255, 197, 88)}
    
}
@keyframes animacion{
    from{
        margin-left: 300%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
    
    
}

.lista:hover {
    color: rgba(248, 232, 0, 0.664);
    background-color: rgba(241, 117, 14, 0.808);
}